body {
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(219, 112, 47);
}
header {
text-align: center;
color: white;
font-style: italic;
}
section {
text-align: center;
background-color: white;
border-radius: 10px;
width: 500px;
margin: auto;
}
footer {
text-align: center;
color: white;
font-style: italic;
}
#res {
    padding-top: 10px;
    padding-bottom: 10px;
}
#rr {
    padding-top: 10px;
    padding-bottom: 10px;
}