body {
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(65, 65, 225);
}
header {
text-align: center;
color: white;
}
section {
    padding: 10px;
    background-color: white;
    width: 500px;
    border-radius: 10px;
    margin: auto;

}
footer {
text-align: center;
color: white;
font-style: italic;
}
#res {
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
      border: 1px solid black;
    width: 200px;
    height: 200px;
}