body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(79, 79, 243);
}
header {
    text-align: center;
    color: white;
}
section {
background-color: white;
padding: 10px;
width: 500px;
border-radius: 10px;
margin: auto;

}
footer {
    text-align: center;
    color: white;
}
#res {
    text-align: center;
}